<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create property</title>
</head>
<body>
<div th:replace="fragments/navbar :: booking-app-navbar"></div>
<!--<form action="#" th:action="${id} == false ? @{/properties} : @{/properties/{id}(id = ${property.id})}" th:object="${property}" method="post">-->
<form action="#" th:action="@{/properties}" th:object="${property}" method="post">
        <div th:replace="fragments/property :: details"></div>
</form>
</body>
</html>