<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create property</title>
</head>
<body>
<form action="#" th:action="@{/properties}" th:object="${property}" method="post">
    <div class="mb-3">
        <div>
            <label for="property-name">Property Name</label>
            <input th:field="${property.name}" class="form-control" id="property-name">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
        </div>
        <div>
            <label for="property-address-street">Address street</label>
            <input th:field="${property.address.street}" class="form-control" id="property-address-street">
<!--            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>-->
        </div>
    </div>
    <button type="submit">Create</button>
</form>
</body>
</html>