<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Dashboard</h1>
<div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Details</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${properties.empty}">
            <td colspan="2">No Properties Available</td>
        </tr>
        <tr th:each="property : ${properties}">
            <td><span th:text="${property.id}">ID</span></td>
            <td><span th:text="${property.name}">Name</span></td>
            <td><a th:href="@{/properties/{id}(id = ${property.id})}">Details</a></td>
            <td><a th:href="@{/properties/update/{id}(id = ${property.id})}">Update</a></td>
<!--            <td><a th:href="@{/properties/delete/{id}(id = ${property.id})}">Delete</a></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>