<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hosts</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Hosts</h1>
<div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone number</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${hosts.empty}">
            <td colspan="2">No hosts available</td>
        </tr>
        <tr th:each="host : ${hosts}">
            <td><span th:text="${host.id}">ID</span></td>
            <td><span th:text="${host.name}">Name</span></td>
            <td><span th:text="${host.email}">Email</span></td>
            <td><span th:text="${host.phoneNumber}">Phone number</span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>