<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hosts</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: booking-app-navbar"></div>
<h1>Hosts</h1>
<div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${hosts.empty}">
            <td colspan="2">No hosts available</td>
        </tr>
        <tr th:each="host : ${hosts}">
            <td><span th:text="${host.id}">ID</span></td>
            <td><span th:text="${host.name}">Name</span></td>
            <td><span th:text="${host.email}">Email</span></td>
            <td><span th:text="${host.phoneNumber}">Phone number</span></td>
            <td><a th:href="@{/hosts/delete/{id}(id = ${host.id})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/hosts/create}">Create new host</a>
    </div>
</div>
</body>
</html>