<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rentals</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Rentals</h1>
<div>
    <table>
        <thead>
        <tr>
            <th scop="col">ID</th>
            <th scop="col">Check-In</th>
            <th scop="col">Check-Out</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${rentals.empty}">
            <td colspan="2">No Rentals Available</td>
        </tr>
        <tr>
            <tr th:each="rental : ${rentals}">
            <td><span th:text="${rental.id}">ID</span></td>
            <td><span th:text="${rental.checkIn}">Check-In</span></td>
            <td><span th:text="${rental.checkOut}">Check-Out</span></td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>