<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: booking-app-navbar"></div>
<h1>Users</h1>
<div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Roles</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:if="${users.empty}">
            <td colspan="2">No users available</td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.id}">ID</span></td>
            <td><span th:text="${user.username}">Username</span></td>
            <td><span th:text="${user.roles}">Username</span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>